.info {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    max-width: 600px;
    text-align: justify;
    text-indent: 20px;
}
.info p {
    margin: 0px;
    font-size: 12px;
}
.btn {
    color: black;
}
.btn:hover {
    opacity: 0.5;
    transition: 0.7s;
}
.names {
    text-decoration: underline;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
.hide_on_click {
    display: block;
}