.sign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    background-color: white;
}
.btn {
    margin: 20px;
    padding: 3px 15px;
    color: black;
}
.btn:hover {
    opacity: 0.5;
    transition: 0.7s;
}