.myRelease {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.personal__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-size: 10px;
}
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.personal__md {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.personal__md_info {
    margin: 0 20px;
}
.personal__info_shoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}
.personal__photo {
    width: 120px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.personal__photo img {
    max-width: 100%;
    object-fit: cover;
}
.date_and_sings {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sing img {
    max-width: 100px;
}
.date, .sing {
    margin: 20px;
}
.sing {
    display: flex;
    align-items: center;
}
.btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.hide_on_save {
    visibility: visible;
}